.container {
    width: 845px !important;
}

#forget_password_title {
    color: #31572C;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#forget_password_subtitle {
    color: #757575;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#input_label {
    color: #757575;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

input[type="email"], input[type="password"] {
    width: 845px;
    border-radius: 10px;
    border: 1px solid #DEE2E6;
    background: #F8F9FA;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    border: none;
    line-height: normal;
    height: 102px;
    color: #6C757D;
}

button[type="submit"] {
    font-size: 24px;
    border: none;
    font-style: normal;
    border-radius: 10px;
    background: #5BB85C;
    font-weight: 700;
    line-height: normal;
    color: white;
    width: 794px;
    height: 90px;
}

#forgetpassword_submit_info {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 171.523%;
    /* 41.165px */
    letter-spacing: 0.12px;
    border-radius: 15.568px;
    width: 794px;
    background: #F2F2F2;
    color: #757575;
}